<h1> <%=@merchant.name%> Products </h1>

<p><%=@merchant.description%></p>

<ul>
<% @merchant.products.each do |product| %>
	<h3><%= link_to product.name, merchant_product_path(@merchant.id, product)%></h3>
	<dl>
		<dt>Kind:</dt>
		<dd><%= product.kind %></dd>
		<dt>Price:</dt>
		<dd><%= product.price %></dd>
		<dt>Quantity:</dt>
		<dd><%=product.quantity%></dd>
		<dt>Description</dt>
		<dd><p><%=product.description%></p></dd>
	</dl>

<% end %>
</ul> 