<h1><%= @product.name %></h1>

<dl>
		<dt>Kind:</dt>
		<dd><%= @product.kind %></dd>
		<dt>Price:</dt>
		<dd><%= @product.price %></dd>
		<dt>Quantity:</dt>
		<dd><%= @product.quantity%></dd>
		<dt>Description</dt>
		<dd><p><%= @product.description%></p></dd>
	</dl>

	<button>Order</button>